<% include header %>

<!-- <video id="localVideo"></video>
  <div id="remoteVideos"></div>
  
  <script src="video_chat.js" type="text/javascript"></script> -->

  <!-- Step 1. Defining a container for video chat -->
  <div id="bar"> No-***-Roulette</div>
  
  <div id='ls-container' style='width:1000px;height:600px;'></div>

  <div id="you">YOU</div>
  <div id="localVideo" muted> </div>
  
  <div id="them">THEM</div>
  <div id="remoteVideo"> </div>
  <!-- Step 2. Including LyteSpark library -->
  <script src='https://s3.amazonaws.com/s3.lytespark.com/api.soft.js'></script>
  <!-- Step 3. Launching video chat -->
  <script>
    $LS.setup({endpoint:'https://www.lytespark.com'}); /* Api Endpoint */
    var LScall = $LS.launch({
      space:"py0gp2nk5rf7qp8i", /* String, Space short URL, required */
      chatkey:"testchat1", /* String, 8-32 length, lowercase latin letters and numbers allowed, required */
      container:"ls-container", /* String, Container ID, required */
      username:"User Name", /* String, User name, optional */
      userphoto:"https://www....jpg", /* String, User photo, optional */
      audioonly: false /* Boolean, Audio call mode, optional */
    });
  </script>
  <script scr="video_chat.js"></script>
</body>

<% include footer %>
