<% include header %>

  <!-- Step 1. Defining a container for video chat -->
  <div id="bar"> No-***-Roulette</div>
  
  <div id='ls-container' style='width:1000px;height:600px;'></div>

  <div id="you">YOU</div>
  
  <div id="them">THEM</div>

  <div id="info"> </div>

  <button type="submit" id="btn-login">Sign In</button>
  <button type="submit" id="btn-logout">Sign out</button>
  <img alt="avatar" id="avatar" style="display:none;">
  <p>Welcome <span id="nickname"></span></p>

  <!-- Step 2. Including LyteSpark library -->
  <script src='https://s3.amazonaws.com/s3.lytespark.com/api.soft.js'></script>
  <!-- Step 3. Launching video chat -->
  <script>
    $LS.setup({endpoint:'https://www.lytespark.com'}); /* Api Endpoint */
    var LScall = $LS.launch({
      space:"py0gp2nk5rf7qp8i", /* String, Space short URL, required */
      chatkey:"testchat1", /* String, 8-32 length, lowercase latin letters and numbers allowed, required */
      container:"ls-container", /* String, Container ID, required */
      username:"User Name", /* String, User name, optional */
      userphoto:"https://www....jpg", /* String, User photo, optional */
      audioonly: false /* Boolean, Audio call mode, optional */
    });
  </script>
  <script type="text/javascript">
    var lock = new Auth0Lock('AT5kpQWFrNnOLwks12oj3W9DZCCAmQui', 'hyin775.auth0.com');
    var btn_login = document.getElementById('btn-login');
    var btn_logout = document.getElementById('btn-logout');

    btn_login.addEventListener('click', function() {
      lock.show();
    });

    btn_logout.addEventListener('click', function() {
      logout();
    });

    lock.on("authenticated", function(authResult) {
    lock.getProfile(authResult.idToken, function(error, profile) {
        if (error) {
          // Handle error
          return;
        }
        localStorage.setItem('id_token', authResult.idToken);
        // Display user information
        show_profile_info(profile);
      });
    });

    var retrieve_profile = function() {
      var id_token = localStorage.getItem('id_token');
      if (id_token) {
        lock.getProfile(id_token, function (err, profile) {
          if (err) {
            return alert('There was an error getting the profile: ' + err.message);
          }
          // Display user information
          show_profile_info(profile);
        });
      }
    };

    var show_profile_info = function(profile) {
      window.profile = profile;
      console.log("window profile", profile.name);
      axios.post('/profiles', profile)
       .then(function (response) {
        var profiles = response.data;
        profiles.forEach((profile) => {
          if (window.profile.name !== profile.name){
            var avatar = document.getElementById('avatar');
            document.getElementById('nickname').textContent = profile.nickname;
            btn_login.style.display = "none";
            avatar.src = profile.picture;
            avatar.style.display = "block";
            btn_logout.style.display = "block";
            /*console.log("filling in details");
            var points = 90;
            var details = [" ", " ", " "] //Name, age, location
            if (points >= 25) {
              details[0] = profile.name; //replace
            }
            if (points >= 50) {
              details[1] = "their-age"; //replace
            }
            if (points >= 75) {
              details[2] = "their-location"; //replace
            }
            document.getElementById("info").innerHTML = details[0] + " <BR>" + details[1] + " <BR>" + details[2];*/
          }
        })
      })
      .catch(function (error) {
        console.log(error);
      });
    };

    retrieve_profile();

    var logout = function() {
      localStorage.removeItem('id_token');
      window.location.href = "/";
    };

    /*var vi = document.getElementById('ls-container');
    vi.style['-webkit-filter'] = 'blur(30px)';*/
  </script>
</body>

<% include footer %>
