<% include header %>

  <!-- Step 1. Defining a container for video chat -->
  <div id="camera"></div>
  <div id="bar">Unmask</div>
  
  <div id='ls-container' style='width:1000px;height:600px;'></div>

  <div id="you">YOU</div>
  
  <div id="them">THEM</div>

  <div id="info"> </div>

  <button class="ui yellow basic button" type="submit" id="btn-login">Sign In</button>
  <button class="ui yellow basic button" type="submit" id="btn-logout">Sign out</button>

  <!-- Step 2. Including LyteSpark library -->
  <script src='https://s3.amazonaws.com/s3.lytespark.com/api.soft.js'></script>
  <!-- Step 3. Launching video chat -->
  <script>
    $LS.setup({endpoint:'https://www.lytespark.com'}); /* Api Endpoint */
    var LScall = $LS.launch({
      space:"py0gp2nk5rf7qp8i", /* String, Space short URL, required */
      chatkey:"testchat1", /* String, 8-32 length, lowercase latin letters and numbers allowed, required */
      container:"ls-container", /* String, Container ID, required */
      username:"User Name", /* String, User name, optional */
      userphoto:"https://www....jpg", /* String, User photo, optional */
      audioonly: false /* Boolean, Audio call mode, optional */
    });
  </script>
  <script type="text/javascript">
    var lock = new Auth0Lock('AT5kpQWFrNnOLwks12oj3W9DZCCAmQui', 'hyin775.auth0.com');
    var btn_login = document.getElementById('btn-login');
    var btn_logout = document.getElementById('btn-logout');
    window.scores = [];
    var logout = function() {
      localStorage.removeItem('id_token');
      window.location.href = "/";
    };

    btn_login.addEventListener('click', function() {
      lock.show();
    });

    btn_logout.addEventListener('click', function() {
      logout();
    });

    lock.on("authenticated", function(authResult) {
    lock.getProfile(authResult.idToken, function(error, profile) {
        if (error) {
          // Handle error
          return;
        }
        localStorage.setItem('id_token', authResult.idToken);
        // Display user information
        show_profile_info(profile);
      });
    });

    var retrieve_profile = function() {
      var id_token = localStorage.getItem('id_token');
      if (id_token) {
        lock.getProfile(id_token, function (err, profile) {
          if (err) {
            return alert('There was an error getting the profile: ' + err.message);
          }
          // Display user information
          //show_profile_info(profile);
          window.profile = profile;
        });
      }
    };

    retrieve_profile();

    function getImageScores(callback) {
      axios.get('/getImage')
      .then(function(data){
        var score = parseInt(data.data) * 10.56 || 0;
        console.log(score);
        window.scores.push(2 * score);
        return callback();
      })
    }

    var getBlurry = function() {
      axios.post('/profiles', window.profile)
       .then(function (response) {
        var profiles = response.data;
        profiles.forEach((profile) => {
          if (window.profile.name !== profile.name){
            /*var avatar = document.getElementById('avatar');
            document.getElementById('nickname').textContent = profile.nickname;
            btn_login.style.display = "none";
            avatar.src = profile.picture;
            avatar.style.display = "block";
            btn_logout.style.display = "block";*/
            console.log("in foreach")
            var points = 25;
            getImageScores(function() {
              console.log("window.scores", window.scores.slice(window.scores.length-6, -1))
              axios.get('/score')
              .then(function(score){
                  console.log("asdfadf", window.audioScore)
                  var elmt = window.scores.slice(window.scores.length-6, -1);
                  var sum = 0;
                  for( var i = 0; i < elmt.length; i++ ){
                      sum += parseInt( elmt[i], 10 ); //don't forget to add the base
                  }
                  if (window.audioScore !== undefined && window.audioScore !== null){
                    var points = sum/elmt.length + 15 + window.audioScore.rating/1.5;
                    console.log("points from setScore", points)
                  }
                  
                  var details = [" ", " ", " "] //Name, age, location
                  if (points >= 25) {
                    details[0] = profile.name; //replace
                  }
                  if (points >= 50) {
                    details[1] = profile.age; //replace
                  }
                  if (points >= 75) {
                    details[2] = profile.location; //replace
                  }
                  document.getElementById("info").innerHTML = details[0] + " <BR>" + details[1] + " <BR>" + details[2];

                  points = 30 - points * 0.35;
                  document.getElementById("ls-container").style['-webkit-filter'] 
                  = "blur(" + points + "px)";
                  }
                )
              .catch(function (error) {
                console.log(error);
              });
            })
          }
        })
      }).catch(function (error) {
          console.log(error);
        });
      }

    setInterval(getBlurry, 5000);
  </script>
</body>

<% include footer %>
