#camera {
  width: 300px;
  height: 250px;
}

#ls-container {

font-size: 36px;
font-family: 'Timmana', sans-serif;
color: white;
background: #6b87a5;
}

video{
  width:480px;
  transform: scaleX(-1);
  filter: blur(30px)
}

#roomLocalVideo{
  width:480px;
  transform: scaleX(-1);
  filter: blur(30px)
}

#bar {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-left:20px;
  padding-top: 12px;
  background: rgba(0,0,0,.5)
}


#you {
  position: absolute;
  left: 140px;
  top: 90px;
}

#them {
  position: absolute;
  left: 800px;
  top: 90px;
}

#localVideo {
  position: absolute;
  left: 140px;
  top: 130px;
  color: red;
}

#remoteVideo {
  position: absolute;
  left: 800px;
  top: 130px;
  color: blue;
}
